<div>
  <h1>{{restaurant.name}}</h1>
  <p>[{{restaurant.Category.name}}]</p>
</div>

<hr/>

<ul>
  <li>有 {{restaurant.Comments.length}} 筆評論</li>
  <li>有 xx 人收藏這家餐廳</li>
</ul>

<a href="javascript:history.back()">回上一頁</a>